<div class="row">
    <div class="col-xs-12">
        <img [src]="ricetta.imgPath" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ ricetta.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button type="button"
                class="btn btn-primary dropdown-toggle">
                Gestione Ricette <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Aggiungi a lista spesa</a></li>
                    <li><a href="#">Modifica ricetta</a></li>
                    <li><a href="#">Cancella ricetta</a></li>
                </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ricetta.desc}}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Ingredienti
    </div>
</div>
