<div class="row">
    <div class="col-xs-12">
        <img [src]="ricetta.imgPath" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ ricetta.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button type="button"
                class="btn btn-primary dropdown-toggle">
                Gestione Ricette <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a (click)="addIngredientiAllaListaSpesa()"  style="cursor:pointer">Aggiungi a lista spesa</a></li>
                    <li><a routerLink="edit" style="cursor:pointer">Modifica ricetta</a></li>
                    <li><a style="cursor:pointer">Cancella ricetta</a></li>
                </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ricetta.desc}}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingrediente of ricetta.ingredienti"> {{ingrediente.name}} - {{ingrediente.qt}}</li>
        </ul>
    </div>
</div>
